body {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 99.9vh;
  max-height: 100vh;
  margin: 0;
}

/* Home Page session */

.home-container{
  padding: 30px;
}

.home-div{
  background-color: #1d1806;
  padding: 30px;

}

.home-text{
  color: white;
  text-align: center;
}

.button-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.button-session{
  background-color: #ccc;
  width: 50%;
  text-align: center;
  color: #1d1806;
  padding: 10px;
  border-radius: 10px;
}




/* Index.ejs session */

.full-container{
  box-sizing: border-box;
  margin: 0;
  width: 45%;
  max-height: 300px;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.form-container{
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0;
}

input {
  text-align: center;
  width: 30%;
  margin-top: 20px; 
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.answer-container {
  text-align: center;
}

h1 {
  text-align: center;
}

h3 {
  margin: 0;
}

button {
  font-weight: 800;
  letter-spacing: 2px;
  font-size: large;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ffca00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ffd500;
}

#result {
  text-align: center;
  font-size: 24px;
}

.checkmark {
  color: transparent;
  animation: checkmark 0.5s ease;
}

.cross {
  color: transparent;
  animation: cross 0.5s ease;
}

@keyframes checkmark {
  0% {
    color: transparent;
  }
  100% {
    color: green;
  }
}

@keyframes cross {
  0% {
    color: transparent;
  }
  100% {
    color: red;
  }
}

.restart-button {
  display: inline-block;
  background-color: #fff;
  color: #333;
  padding: 15px 30px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}
